.victoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#victory {
  font-family: Impact;
  font-size: 100px;
  letter-spacing: 0;
  line-height: 122px;
  margin-bottom: 0;
  margin-top: 2rem;
}

#youBeat {
  font-family: Lato;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: -1.07px;
  line-height: 36px;
  //   margin-top: 0.5rem;
}

#avatarContainer {
  width: 600px;
  overflow: visible;
  position: relative;
}

#shadowGradient {
  position: absolute;
  top: 13rem;
  left: 8rem;
  width: 320px;
}

#shadowBase {
  position: absolute;
  top: 14rem;
  left: 5rem;
  transform: translate(-50%, 50%);
  width: 240px;
  left: 50%;
  z-index: 0;
}

#victoryAvatar {
  position: absolute;
  top: 30px;
  right: 80px;
  z-index: 1;
}
