.attackDialogWrapper {
  height: 100%;
  max-width: 914px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 940px;
  button {
    &:first-child {
      margin-right: 2rem;
    }
  }
}
