.healthBarContainer {
  display: flex;
  // width: 100%;
}

.avatarContainer {
  display: flex;
  justify-content: space-between;
}

.avatarActionGroup1 {
  // width: 400px;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
