.healthBarContainer {
  display: flex;
}

.avatarContainerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.avatarActionGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.group2 {
  align-items: flex-start;
}

.dialogMessage {
  color: #ffffff;
  font-family: Lato;
  font-size: 25px;
  letter-spacing: -0.89px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 1rem;
}

.nextButtonDiv {
  align-self: center;
}
