.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline1 {
  font-size: 99px;
}

.helpContainerHome {
  display: flex;
  margin-top: 100px;
  width: 500px;
}

.helpButtonHome {
  display: flex;
  justify-content: flex-end;
}

.helpBubbleHome {
  // position: absolute;
  // top: 0;
  font-family: Lato;
  font-size: 20px;
  flex-wrap: wrap;
  width: 250px;
  min-height: 50px;
  padding: 0 5px;
  background-color: #ffffff;
  opacity: 70%;
  border-radius: 15px;
  margin-left: 300px;
  // margin-bottom: 150px;
  p {
    color: black;
  }
}
