.questionDialogAnswerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 914px;
}

#question {
  padding-left: 2.5rem;
  padding-bottom: 0;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
}
