.dialogWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

.dialogContainer {
  border: 1px solid #ffffff;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  min-width: 1000px;
  height: 219px;
  align-self: center;
}

.dialogMessage {
  color: #ffffff;
  font-family: Lato;
  font-size: 25px;
  letter-spacing: -0.89px;
  line-height: 30px;
  align-self: center;
  margin-bottom: 1rem;
}
