.dialogWrapper {
  margin-top: 50px;
}

.dialogContainer {
  border: 1px solid #ffffff;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  height: 200px;
  width: 100%;
}
.dialogMessage {
  color: #ffffff;
  font-family: Lato;
  font-size: 25px;
  letter-spacing: -0.89px;
  line-height: 30px;
  text-align: center;
}
