.wrapper {
  display: flex;
  flex-direction: column;
  gap: 18.5px;
  align-items: center;
}

.avatarContainer {
  // width: fit-content;
  position: relative;
}

.avatarShadow {
  position: absolute;
  bottom: 0;
  // height: 91.36px;
  // width: 297px;
  transform: translateX(-50%);
  left: 50%;
}

.avatarShadowBase {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  // height: 30px;
  width: 211px;
  left: 50%;
}

.avatarImage {
  // position: absolute;
  // transform: translate(50%);
}

.avatarName {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100px;
  border-radius: 3px;
  padding: 0.3rem;
  margin: 0;
}
