.roundCountDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
  font-family: Impact;
  font-size: 50px;
  letter-spacing: 0;
  line-height: 61px;
  margin: 0;
}
