/* ==========================================================================
   Home / Victory / Defeat Page
   ========================================================================== */

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageTitle {
  font-family: Impact;
  font-size: 100px;
  letter-spacing: 0;
  line-height: 122px;
  margin-bottom: 0;
  margin-top: 2rem;
}

.pagePreface {
  font-family: Lato;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: -1.07px;
  line-height: 36px;
}

.victoryDefeatAvatarContainer {
  width: 100%;
  min-width: 600px;
  overflow: visible;
  position: relative;
}
