.container {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50px;
  margin: 50px;
}

.label {
  padding: 5px;
  color: white;
  font-weight: bold;
}

.filler {
  height: 100%;
  background-color: green;
  border-radius: inherit;
}

.fillerReversed {
  float: right;
}

.healthAndScore {
  position: absolute;
  width: 100%;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}

.healthAndScoreReversed {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  left: 40px;
}
