.healthbarContainer {
  display: flex;
  position: relative;
  height: 25px;
  min-width: 330px;
  background-color: #e0e0de;
  border-radius: 10px;
  margin: 50px 0;
  border: 4px solid white;
}

.healthBarContainerGrow {
  display: flex;
  position: relative;
  height: 25px;
  min-width: 330px;
  background-color: #e0e0de;
  border-radius: 10px;
  margin: 50px 0;
  border: 4px solid white;
  animation: healthBarGrow 2s ease-in-out forwards;
  @keyframes healthBarGrow {
    25% {
      transform: scale(1.2);
    }
  }
}

.label {
  padding: 5px;
  color: white;
  font-weight: bold;
}
.fillerReversed {
  justify-content: end;
}
.filler {
  height: 100%;
  border-radius: inherit;
  transition: width 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.healthAndScoreFont {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 15px;
}

.healthAndScore {
  position: absolute;
  width: 100%;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 5px;
}

.healthAndScoreReversed {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  left: 40px;
  padding-top: 10px;
}
